/* Vos customisations des classes de Bootstrap */
nav{
    background-color: black;
}
#home{
    width: 100%;
    height: 380px;
    background-image: url('../images/hero-image.jpg');  
    background-size: cover;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px; 
    color: aliceblue;
    width: 500px;
    text-align: center;
}
h3{  color: aliceblue;
    width: 850px;
    text-align: center;
    font-size: 16px;
}
button{
    width: 150px;
    height: 40px;
}
h4{
    font-size: 16px;
    text-align: center;
}
#who p{
    text-decoration-color: red;
}
hr{
    width: 80px;
    margin: 0;
}

#get-involved{
    background-color: rgb(227, 223, 223);
}
.students svg{
    fill: white;
}
.circle{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.students{
    width: 50px;
}

footer{
    background-color: #DC3545;
}





footer img{
    position: relative;
    top: 60%;
    left: 15%;
}
/********************************************************
*****************bouton retour***************************
********************************************************/

#back-to-top{
    position: fixed;
    bottom: 50%; 
    right: 0; 
}

#back-to-top a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
}




/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
